body { 
    color:rgb(255, 255, 255); 
    font-family: monospace; 
    margin: auto; 
    padding: 20px; 
    max-width: 720px;
    line-height: 1.5;
    background-color: #040d21;
}

nav { 
    display: inline-block; 
}

a { 
    color: white; 
    cursor: pointer; 
    text-decoration: underline;
}

#globe { 
    position: absolute; 
    top:0; 
    right:0; 
    z-index: 1;
}

#content {
    z-index: 2; 
    position: relative; 
    max-width: 720; 
    margin-left: auto; 
    margin-right: auto
}

#build, #track, #about {
    z-index: 2; 
    position: relative; 
    max-width: 720px; 
    margin:auto; 
    display: none
}

#aboutme {
    z-index: 2;
    display: flex;
    @media (max-width: 400px) {
        display: block;
    }
}

#knot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}

code {
    border: 1px solid white;
}

codeblock {
    padding: 20px;
    border: 1px solid white;
    overflow: auto;
    white-space: nowrap;
    display: block;
}